<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
</head>
<body>
<div>


    <nav class="bg-white border-gray-200 dark:bg-gray-900">
        <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">

            <div class="flex items-center md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
                test

            </div>
            <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1">
                <ul class="flex flex-col font-medium p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
                    <li>
                        <a href="/"
                           class="block py-2 px-3 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 md:dark:text-blue-500"
                           aria-current="page">Home</a>
                    </li>
                    <li>
                        <a href="/category"
                           class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Category</a>
                    </li>

                    <li>
                        <a href="/user"
                           class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">User</a>
                    </li>
                    <li>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

</div>
<div class="container mx-auto pt-10 ">
    <div class="flex justify-between pb-10">
        <div class="text-lg ">Category :</div>
        <button class="bg-blue-500 text-white border rounded px-4 py-2" onclick="location.href='/addCategory'">Add
            Category
        </button>
    </div>
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full  text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400 bg-white rounded-md overflow-hidden">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr class="text-center">
                <th scope="col" class="px-6 py-3 border-r">Product Name</th>
                <th scope="col" class="px-6 py-3 ">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="c:${category}" class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 text-center even:dark:bg-gray-800 border-b dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white border-r" th:text="${c.name}"></th>
                <td class="px-6 py-4 flex justify-around items-center">
                    <button class="flex items-center bg-yellow-500 text-white px-4 py-2 rounded-full focus:outline-none focus:shadow-outline-yellow active:bg-yellow-800">
                        <svg class="h-5 w-5 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path>
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2 19c0 1.1.9 2 2 2h14a2 2 0 002-2V7a2 2 0 00-2-2H4a2 2 0 00-2 2v12z"></path>
                        </svg>
                        Edit
                    </button>
                    <form th:action="@{/admin/deleteCategory/{id}(id=${c.id})}" method="post">
                    <button class="flex items-center bg-red-500 text-white px-4 py-2 rounded-full focus:outline-none focus:shadow-outline-red active:bg-red-800">
                        <svg class="h-5 w-5 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20 6L9 17l-5-5"></path>
                        </svg>
                        Delete
                    </button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>



</div>

</body>
</html>